.nav {
  background-color: transparent;
  height: 10vh;
  width: 100%;
  display: flex;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  padding: 13vh 5vw;
  position: fixed;
  top: 0;

  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.black {
  background-color: #111;
}

.logo {
  padding: 10px;
  height: 5.5vh;
  width: 10vw;
  font-size: 1rem;
}

.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}